@(languages : List[Language])
@doctype.render
<html lang = "en">
    <head>
        <meta charset = "UTF-8">
        <title>Title</title>
    </head>
    <body>
        <form method = "POST">
            @helper.CSRF.formField

            <input type = "text" name = "languageName" placeholder="Language Name" required>

            <br>

            <input type = "text" name = "languageDescription" placeholder="Language Description">

            <br>

            <input type = "file" name = "languagePicture" accept="image/*">

            <br>

            <input type = "submit" value = "Save">
        </form>
    </body>
</html>