@(religions : List[Religion])
@doctype.render
<html lang = "en">
    <head>
        <meta charset = "UTF-8">
        <title>Title</title>
        @bootstrap.render
    </head>
    <body>
        <form method = "POST">
            @helper.CSRF.formField

            <input type = "text" name = "religionName" placeholder="Religion Name" required>

            <br>

            <input type = "text" name = "religionHistory" placeholder="Religion History">

            <br>

            <input type = "text" name = "religionNotes" placeholder="Religion Notes">

            <br>

            <input type = "file" name = "religionPicture" accept="image/*">

            <br>

            <input type = "submit" value = "Save">
        </form>
    </body>
</html>