@(eyeColor : CharacterEyeColor)
@doctype.render
<html lang = "en">
    <head>
        <meta charset = "UTF-8">
        <title>Edit Eye Colors</title>
        @bootstrap.render
    </head>
    <body>
        <form method = "POST">
            @helper.CSRF.formField

            <input type = "text" name = "eyeColorName" placeholder="Eye Color Name" value = "@eyeColor.getEyeColorName" required>

            <br>

            <input type = "text" name = "description" placeholder="Description" value = "@eyeColor.getEyeColorDescription">

            <br>

            <input type = "submit" value = "Save">
        </form>
    </body>
</html>